@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;400&display=swap');

*{
    border: 1px solid #000;
}

body {
    margin: 0;
    font-family: "Poppins", serif;
    font-style: normal;
    background-color: #334e70;
    color: white;
}

.material-symbols-outlined {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    /*     margin-left: 5px; */
}

button>span {
    transition: transform 0.5s ease;
}

button>span:hover {
    /* font-weight: 900; */
    /*  color: #1e3f66; */
    /* font-size: 50px; */
    transform: scale(1.7);
}


#navbarSection ul {
    padding: 0;
    margin: 0;
    border: 1px solid #006b00;
    display: flex;
    align-items: center;
    height: 3em;
    justify-content: space-between;
    list-style: none;
    background-color: #1e3f66;
}

#navbarSection ul>li {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#navbarSection ul>li>img,
#navbarSection ul>li>h4,
a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
}

a {
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbarSection ul>li>img {
    border-radius: 0.5em;
    cursor: pointer;
}

h4 {
    margin: 0px;
    display: block;
    font-size: 22px;
}

.initContainer {
    border: 1px Solid #727203;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.5em;

    img {
        width: 25%;
        height: 25%;
        border-radius: 15%;
        box-shadow: 1px 1px 1px 0 rgb(209, 102, 221), 1px 1px 1px 0 #d66, 0px 0px 1px 1px rgb(221, 197, 102);
    }
}

.initContainer>div {
    color: #fff6f6e1;
    width: 50%;
    text-align: center;

    h4 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #FFF;
    }
}

.aboutmeContainer,
.hobbitsContainer,
.knowledgeContainer {
    margin-top: 3em;

    h4 {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #FFF;
        font-size: 2.5rem;
    }

}

.cardContainer {
    /*     border: 1px solid #eb6060;
 */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff6f6e1;

    section {
        width: 20%;
    }
}

section {
    box-shadow: 1px 1px 4px 4px rgba(226, 223, 223, 0.2), 1px 1px 4px 4px rgba(255, 255, 255, 0.315);
    border-radius: 1rem;
    padding: 0.5em;
    margin-top: 1.3rem;
}

section>h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

img {
    vertical-align: middle;
}

.knowlegeContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    border: 2px solid #8b0707;
    display: none;
}

.carrouselContainer {
    position: relative;
    border: 1px solid #7577dfe1;
   /*  width: 100%; */
    margin-top: 2rem;
}

.imgContainer {
    height: 350px;
    color: #FFF;
    text-align: center;
    flex-direction: column;

    p {
        padding: 4%;
        font-size: 1.1rem;
        margin: 0;
    }

    ;
}

/* img{
    width: 100%;
} */

button {
    position: absolute;
    background-color: transparent;
    /*     padding: 0px; */
    border: 0px;
}

.back {
    top: 50%;
    left: 1%;
}

.next {
    right: 1%;
    top: 50%;
}

/* attemp with animation */

.reduceOpacity {
    animation: reduceOpacity 1.2s;
    animation-iteration-count: 1;
}

@keyframes reduceOpacity {
    0% {
        opacity: 0.50;
    }

    30% {
        opacity: 0.40
    }

    65% {
        opacity: 0.30
    }

    70% {
        opacity: 0.10
    }

    100% {
        opacity: 0;
    }
}

.increaseOpacityElement {
    animation: increaseOpacity 1s;
    animation-iteration-count: 0.8;
}

@keyframes increaseOpacity {
    0% {
        opacity: 0.20;
    }

    30% {
        opacity: 0.40
    }

    65% {
        opacity: 0.60
    }

    70% {
        opacity: 0.60
    }

    100% {
        opacity: 1;
    }
}

.scaleElement {
    transform: scale(0.8);
    transition: transform 2s ease;
}

/* Knowledge Container Styles */

.knowlegeCardsContainer {
    margin-right: 10%;
    margin-left: 10%;
    border: 1px Solid #30f808;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.cardStandardStyles {
    text-align: center;
    align-content: center;
    width: 21%;
    height: 26em;
    border: none;

    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px transparent;
    }

    h4 {
        margin-top: 25px;
        margin-bottom: 0px;
    }
}

.cardStandardStyles:hover .individualContainerCards {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    backface-visibility: hidden;
    border-radius: 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    border: 2px double transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.individualContainerCards {
    /* background-color: #006b00; */
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: none;
}

.front-card {
    background-color: rgb(68, 68, 250);
}

.back-card {
    background-color: #334e70;
    transform: rotateY(180deg);
    align-content: flex-start;
}

.first-back-section {
    height: 45%;
    /* background-image: linear-gradient(rgb(255, 255, 15) 65%, rgb(255, 255, 255)); */
    border-radius: 15px 15px 50px 50px;
    margin: 4%;
    align-content: center;
}

.second-back-section {

    p,
    h3 {
        margin-bottom: 0px;
    }
}

.jsGradient {
    background-image: linear-gradient(#334e70, #334e70), radial-gradient(at top left, rgb(255, 255, 15), rgb(255, 255, 255));
    box-shadow: 4px 4px 4px 0px rgba(233, 236, 40, 0.87) inset;
}

.jsBackGradient {
    background-image: radial-gradient(at bottom left, rgb(206, 226, 134), rgb(255, 255, 15));
}

.cssGradient {
    background-image: linear-gradient(#334e70, #334e70), radial-gradient(at top left, rgb(119, 223, 255) 60%, rgb(238, 238, 238));
    box-shadow: 3px 3px 4px 0px rgb(119, 223, 255) inset;
}

.cssBackGradient {
    background-image: radial-gradient(at bottom left, rgb(212, 236, 240), rgb(7, 130, 245));
}

.htmlGradient {
    background-image: linear-gradient(#334e70, #334e70), radial-gradient(at top left, rgb(255, 123, 15), rgb(241, 241, 220));
    box-shadow: 3px 3px 4px 0px rgb(255, 123, 15) inset;
}

.htmlBackGradient {
    background-image: radial-gradient(at bottom left, rgb(240, 220, 212), rgb(245, 75, 7));
}

/* Footer Styles */

.footer-container {
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 15px;

    li>h5 {
        margin: 0px;
    }
}

.footer-container{
    background-color: #435872;
    margin-top: 3%;
    padding-top: 1em;
    padding-bottom: 1em;
    ul > li{
        margin-bottom: 6px;
    }
}

.footer-container>ul>li:first-child {
    margin-bottom: 18px;
}

.ul-icon li {
    display: flex;
    align-items: center;

    span {
        font-size: 33px;
    }
}

.ul-media {
    width: 15%;
    .icons-footer {
        display: flex;
        margin-top: 1.2em;
        justify-content: space-between;
        img {
            border-radius: 50%;
            height: 2.2rem;
            width: 2.2rem;
            border: 1px solid #FFF;
        }
    }
}